<div class="jumbotron">
  <h1 class="text-center">
    Bem-vendo ao Game Result!
  </h1>
</div>

<div class="container">
    <form name="form">
    <h3>Single File Selection</h3>
      <div class="input-group">
        <label for="file">Select File</label>
        <input type="file" ng-model="file" name="file" base-sixty-four-input required onload="onLoad" maxsize="500" accept="text/*">
        <span class="help-block">
          <ul>
            <li>required , maxsize = 500, accept = text/plain</li>
          </ul>
        </span>
      </div>

    <b>Itens para importar:</b>
    <table class="table table-bordered table-striped">
      <tr>
        <th>filename</th>
        <th>filetype</th>
        <th>filesize (<i><small>KB</small></i>)</th>
        <th>base64</th>
        <th>Send log to server</th>
      </tr>
      <tr ng-show="file">
        <td>{{file.filename}}</td>
        <td>{{file.filetype}}</td>
        <td>{{file.filesize / 1000}}</td>
        <td>{{file.base64.substring(0, 30)}}...</td>
        <td>
          <button type="submit" class="btn btn-primary" ng-click="sendToServer(file)">Enviar</button>
        </td>
      </tr>
      <tr>
        <td colspan="5" ng-show="!file">
          <small><i>No file selected.</i></small>
        </td>
      </tr>
    </table>
  </form>
  
  <div class="table-responsive">
    <table class="table table-hover">
        <tr>
        <th>Game importado id</th>
        </tr>
        <tr ng-repeat="result in results ">
            <td>
                <a ng-href="#/{{result}}">{{result}}</a>
            </td>
        </tr>
    </table>
  </div>   
  
  
  
  
  
  {{retorno}}
